html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    background-color: rgb(247 247 247);
}

main{
    background-color: white;
    padding-top: 20px;
    width: 601px;
}

.conteudo{
    padding: 0 20px;
}

.manchete-superior{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 10px;
}

.manchete-superior .titulo-principal{
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
}

.manchete-superior .titulo-auxiliar{
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
} 

.manchete-superior .fonte-manchete, .manchetes-inferiores .fonte-manchete{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: rgb(130, 134, 138);
}

.manchetes-inferiores{
    display: flex;
    padding: 20px 10px;
}

.manchetes-inferiores .fonte{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.manchetes-inferiores .fonte .titulo-principal{
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    line-height: 1.0;
}
.manchetes-inferiores .img-manchete {
    width: auto; 
    height: 191px;
}

.manchete-inferior-esquerda{
    padding-right: 10px;
}

.copyright{
    text-align: center;
    padding: 20px 50px;
}
.copyright p, a{
    font-size: 12px;
    font-weight: 600;
    color: rgb(88, 86, 86);
}

@media (max-width: 768px){
    main{
        width: 425px;
    }
    .manchetes-inferiores {
        flex-direction: column;
      }
    
      .manchete-inferior-esquerda,
      .manchete-inferior-direita {
        padding-right: 0;
      }
    
      .manchete-inferior-direita {
        padding-top: 20px;
      }
    
      .manchetes-inferiores .fonte,
      .manchetes-inferiores .fonte div {
        padding: 0;
      }

    .copyright{
        padding: 10px 0;
    }
    .copyright p, a{
        font-size: 10px;
    }
}

@media (max-width: 425px){
    main{
        width: 320px;
    }
}